In [49]:
import pandas as pd
import dash
from dash import html, dcc
from dash.dependencies import Input, Output

In [47]:
data = pd.read_excel("D:\Programowanie\Python\Projects\codebrainers-plotly-dash\Wypadki_2004_2023_KGP.xlsx")

In [ ]:
new_columns_names = data.iloc[4, 1:5].values
crash_stats = pd.DataFrame(data.iloc[6:26, 1:5].values, columns = new_columns_names)
print(crash_stats)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')
     Rok Wypadki drogowe Ofiary Å›miertelne  Ranni
0   2004           51069              5712  64661
1   2005           48100              5444  61191
2   2006           46876              5243  59123
3   2007           49536              5583  63224
4   2008           49054              5437  62097
5   2009           44196              4572  56046
6   2010           38832              3907  48952
7   2011           40065              4189  49501
8   2012           37046              3571  45792
9   2013           35847              3357  44059
10  2014           34970              3202  42545
11  2015           32967              2938  39778
12  2016           33664              3026  40766
13  2017           32760              2831  39466
14  2018           31674              2862  37359
15  2019           30288              2909  35477
16  2020           23540              2491  26463
17  2021           22816              2245  26415
18  2022           21322              1896  24743
19  2023           20936              1893  24125